# Stripe API Keys
# You can find these in your Stripe Dashboard under Developers > API Keys
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...

# Resend API Key
# You can generate this in your Resend Dashboard under API Keys
RESEND_API_KEY=re_...
